* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html,
body {
    font-size: 28px;
    font-family: "PT Sans", serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 13px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 1000;
}

.nav {
    flex-grow: 1;
}

.lang {
    margin-right: 50px;
}

.lang__item {
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu__link {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 0.785rem;
    color: #000;
}

.main {
    padding: 110px 0 40px 0;
}

.layout {
    display: flex;
    gap: 30px;
}

.sidebar {
    position: sticky;
    padding-top: 60px;
    width: 385px;
    border-radius: 8px;
    height: fit-content;
    flex-shrink: 0;
}

.sidebar__menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__item {
    margin-bottom: 80px;
}

.sidebar__link {
    display: inline-block;
    font-size: 1.15rem;
    text-transform: uppercase;
    position: relative;
    font-family: "Francois One", sans-serif;
    text-decoration: none;
    color: #000;
    padding-bottom: 3px;
}

.sidebar__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.content {
    flex: 1;
    padding-top: 80px;
}

.bg_pattern {
    position: absolute;
    top: 70px;
    right: 277;
    width: 760px;
    height: 760px;
    z-index: 0;
    opacity: 0.05;
    pointer-events: none;
}

.bg_pattern__img {
    width: 100%;
    height: auto;
}

.team {
    width: 785px;
}



.team__title {
    display: inline-block;
    font-size: 1.15rem;
    text-transform: uppercase;
    position: relative;
    font-family: "Francois One", sans-serif;
}

.team__sub-title {
    font-family: "Farro", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: none;
    position: absolute;
    top: -8px;
    right: -88px;
}

.team__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    background: #000;
    width: 100px;
    height: 8px;
}

.title_sticky {
    position: sticky;
    top: 80px;
}

.team__description {
    margin: 40px auto;
    font-family: "PT Sans", sans-serif;
}

.italic {
    font-style: italic;
}

.concept {
    font-weight: bold;
}

.highlight {
    background-color: #dadada;
    border-radius: 4px;
    padding: 2px 6px;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    font-weight: 500;
    color: #000;
}